fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.39
pydantic==2.11.7
pydantic-settings==2.10.1
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20
httpx==0.28.1
boto3==1.39.14
